watch_dirs: [
  '/Users/ngzax/Code/urbit-docs',
  '/Users/ngzax/Code/urbit-examples',
]

excluded_files: [
  'readme.md'
]

desks: [
  '/sandbox',
  '/sandbox',
]

paths: [
  '/web',
  '',
]

pier: '~/urbits/socbud_fallen'
